body {
    text-align: center;
    font-size: x-small;
    background-color:black;
    color: white;
    font-family:system-ui;
}
ul {
    list-style:inside;
}
ol {
    font-style: italic;
}
.skull {
    display: block;
    margin-left: auto;
    margin:auto;
    width: 50%;
}