body {
    background-color: navy;
}
ul{
    list-style-type: circle;
    color: red;
}
link {
    color: red;
}
a {
    color: red;
}
form {
    background-color: black;
    color: white;
    font-size: xx-large;
    flex-grow: initial;
}