body {

background-color: black;
color: white
}
h2 {
 font:normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.nav a {
list-style-type: none;
text-align: center;
padding: 0;
margin: 0;
border: 2px;
border-style: solid;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    border-style: solid;
}
img {
    background-color: white;
}